@import 'src/assets/scss/styles.scss';
 
section{
    position:sticky;
    top: 99px;
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);

    z-index: 12;
    background-color: $color__background;
    margin: 150px 0 95px 0;
    padding-bottom: 25px;
    h1{
        color: $color__text-white;
        transition: font-size 400ms;
    }

    // @media (min-width: 768px) {
    //     grid-template-columns: 1fr;
    // }
    transition: all 400ms ease-in;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;

    @media(max-width: 675px){
        grid-template-columns: 1fr;
    }
}
.minified{
    margin: 65px 0 15px 0;
    h1{
        font-size: 40px;
        font-size: 3.3rem;
    }
}