// ## TEXT
$color__text-gray:#42526E;
$color__text_span_card: #8993A4;
$color__text-white: #FFFFFF;
$color__background: #081C53;
$color__background_button_modal: #091E42;
$color__yellow_time: #FFC121;
$color__gren_mt: #2DC8A6;



