<header class="main-header">
    <div class="logo">
      <a class="title-small" [routerLink]="['/home']">ALUXION</a>
    </div>

    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
      <span class="menu-icon__line"></span>
    </label>

    <ul class="nav-links">
      <li class="nav-link">
        <a href="#">metros</a>
      </li>
      <li class="nav-link">
        <a href="#">cercanias</a>
      </li>
      <li class="nav-link">
        <a href="#">carsharing</a>
      </li>
    </ul>
</header>